# SD202 TP2 - Normalization and SQL

The objectives of this TP are the following:

1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this lab, we are going to use a database containing wine information related to 'production' and 'sales'. 

Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

We need to prepare the SQL environment:

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
Buying:
  0: NV(NUM) *1
  1: NB(NUM) *2
  2: DATES(TEXT)
  3: LIEU(TEXT)
  4: QTE(NUM)
Clients:
  0: NB(NUM) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
Lieux:
  0: LIEU(TEXT) *1
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producers:
  0: NP(NUM) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Quantities:
  0: NV(NUM) *1
  1: NP(NUM) *2
  2: QTE(NUM)
Wines:
  0: NV(NUM) *1
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

We recommend inline __%sql__ as an alternative to sqlite3 package

In [4]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: @wine.db'

Now, we can see the content of the tables using SQL queries:

In [5]:
%sql SELECT DISTINCT NV, CRU, MILL, DEGRE FROM MASTER1;

 * sqlite:///wine.db
Done.

[(None, None, None, None),
 (1, 'Mercurey', 1980, 11.5),
 (2, 'Julienas', 1974, 11.3),
 (3, 'Savigny les Beaunes', 1978, 12.1),
 (4, 'Mercurey', 1980, 10.9),
 (5, 'Pommard', 1976, 11.7),
 (6, 'Mercurey', 1981, 11.2),
 (7, 'Grands Echezeaux', 1968, 11.7),
 (8, 'Cotes de Beaune Villages', 1975, 12.3),
 (9, 'Chapelle Chambertin', 1973, 11.9),
 (10, 'Beaujolais Villages', 1979, 11.8),
 (11, 'Sylvaner', 1982, 11.2),
 (12, 'Gentil', 1975, 10.7),
 (13, 'Cotes du Rhone', 1968, 12.3),
 (14, 'Chateau Chalon', 1978, 10.9),
 (15, 'Cote de Brouilly', 1973, 11.9),
 (16, 'Meursault', 1980, 12.1),
 (17, 'Meursault', 1975, 11.4),
 (18, 'Chambolle Musigny', 1968, 12.3),
 (19, 'Clos du roi', 1972, 11.2),
 (20, 'Cote de Brouilly', 1980, 12.1),
 (21, 'Cotes de Nuits', 1978, None),
 (22, 'Savigny les Beaunes', 1974, None),
 (23, 'Pommard', 1972, None),
 (24, 'Cotes de Beaune Villages', 1971, 12.1),
 (25, 'Chapelle Chambertin', 1968, 10.5),
 (26, 'Chateau Corton Grancey', 1980, None),
 (27, 'Puligny Montrachet', 1974, 11),
 (28, 'Volnay', 1980, 11),
 (29, 'Corton', 1972, 11.6),
 (30, 'Bourgogne Passe Tout Grains', 1979, 12),
 (31, 'Monthelie', 1968, 11.4),
 (32, 'Pouilly Vinzelles', 1968, 12.3),
 (33, 'Santenay', 1972, 12),
 (34, 'Montagny', 1978, 11.2),
 (35, 'Auxey Duresses', 1914, 11.3),
 (36, 'Chorey les Beaunes', 1955, 11),
 (37, 'Savigny les Beaunes', 1978, 10),
 (38, 'Savigny les Beaunes', 1977, 11),
 (39, 'Savigny les Beaunes', 1973, None),
 (40, 'Richebourg', 1943, 12),
 (41, 'Clairette de Die', 1976, 12),
 (42, 'Beaujolais Primeur', 1983, 12),
 (43, 'Fleurie', 1980, 11.4),
 (44, 'Moulin a vent', 1983, None),
 (45, 'Chiroubles', 1983, None),
 (46, 'Chiroubles', 1983, 11),
 (47, 'Chiroubles', 1978, 11),
 (48, 'Cote de Brouilly', 1899, 12),
 (49, 'Morgon', 1984, 12),
 (50, 'Chenas', 1984, 11.5),
 (51, 'Chenas', 1975, 10),
 (52, 'Brouilly', 1975, None),
 (53, 'Beaujolais Villages', 1975, None),
 (54, 'Beaujolais Villages', 1976, 10.5),
 (55, 'Beaujolais Villages', 1978, 12.1),
 (56, 'Saint Amour', 1974, None),
 (57, 'Crozes Hermitage', 1974, 12.1),
 (58, 'Crozes Hermitage', 1975, 12.5),
 (59, 'Crozes - Hermitage', 1972, 12.3),
 (60, 'Crozes-Hermitage', 1983, 11),
 (61, 'Hermitage', 1979, 12),
 (62, 'Gigondas', 1978, 11),
 (63, 'Coteaux du Tricastin', 1978, 10),
 (64, 'Coteaux du Tricastin', 1974, 11),
 (65, 'Rochgrande', 1968, 10.8),
 (66, 'Tavel', 1968, 11),
 (67, 'Gewurztraminer', 1968, 12.5),
 (68, 'Riesling', 1962, 14),
 (69, "Tokay d'Alsace", 1982, 11),
 (70, 'Sylvaner', 1982, 11),
 (71, 'Palette', 1981, 11),
 (72, 'Cassis', 1978, 10),
 (73, 'Bellet', 1976, 11),
 (74, 'Arbois', 1980, 12),
 (75, 'Arbois', 1976, 11),
 (76, 'Chateau Chalon', 1976, 12),
 (77, 'Etoile', 1979, 11),
 (78, 'Etoile', 1980, 12),
 (79, 'Seyssel', 1980, 11),
 (80, 'Seyssel', 1980, 11),
 (81, 'Cornas', 1980, 11.1),
 (82, 'Cornas', 1980, 11),
 (83, 'Saint Amour', 1980, 10),
 (84, 'Rasteau', 1980, 10),
 (85, 'Tavel', 1980, 11),
 (86, 'Tavel', 1980, 11),
 (87, 'Cotes de Provence', 1980, None),
 (88, 'Cotes de Provence', 1976, 10),
 (89, 'Cotes de Provence', 1969, 11),
 (90, 'Palette', 1969, 11),
 (91, 'Cassis', 1979, 11),
 (92, 'Coteaux de Pierevert', 1967, None),
 (93, 'Blanquette de Limoux', 1978, None),
 (94, 'Cotes du Rousillon', 1978, None),
 (95, 'Cotes du Rousillon', 1978, 12),
 (96, 'Saint Chinian', 1976, 11),
 (97, 'Saint Chinian', 1976, 11),
 (98, 'Corbieres', 1978, 10),
 (99, 'Cote Rotie', 1994, 13),
 (100, 'Seyssel', 1974, 11),
 (101, 'Saint Veran', 1973, 12.5),
 (107, 'Sancerre', 1998, 14)]

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables Master1 and Master2 are in the First Normal Form (1NF) and suffer from data redundancy.

__1.1__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NP -> NOM, PRENOM, REGION

NV, NP -> QTE

Convert table Master1 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.

* Explain your answer
* Describe the schema of new tables and how they relate

This table is not in Second Normal Form (2NF), since CRU, DEGREE, MILL only depends on NV, which is a subpart of the key (NV, NP), and NOM, PRENOM, REGION only depends on NP, which is also a subpart of the key (NV, NP).

To convert the table Master1 to the Second Normal Form, we can create three tables:
- Wines, containing NV, CRU, DEGREE and MILL (NV is the primary key of the table)
- Producers, containing NP, NOM, PRENOM, and REGION (NP is the primary key of the table)
- Quantities, containing NV, NP and QTE ({NV, NP} is the primary key of the table)

If we create these three tables, all of them are also in Third Normal Form (3NF), since there aren't any functional dependencies between non-key attributes.

__1.2__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NB -> NOM, PRENOM, TYPE

NV, NB -> DATES, LIEU, QTE

LIEU -> REGION 

Convert table Master2 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable. 
* Explain your answer
* Describe the schema of new tables and how they relate

This second table is also not in the Second Normal Form, for the same reasons as for Master 1. To convert the table Master2 to the Second Normal Form, we can create four tables:

- Wines, containing NV, CRU, DEGREE and MILL (NV is the primary key of the table)
- Clients, containing NB, NOM, PRENOM and TYPE (NB is the primary key of the table)
- Lieux, containing LIEU and REGION (LIEU is the primary key of the table)
- Buying, containing NV, NB, DATES, LIEU and QTE ({NV, NB} is the primary key of the table, and LIEU is a foreign key to the table Lieux)

These tables are also in Third Normal Form (3NF), since there aren't any functional dependencies between non-key attributes. Since the tables "Wines" from Master1 and Master2 contains the same types of data, we can have only one table "Wines", in which we will insert the data from Master1 and Master2.

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables. A table can be created from the result of a query. In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [6]:
%sql DROP TABLE IF EXISTS dummy;

# Create dummy table
%sql CREATE TABLE dummy AS \
SELECT DISTINCT DEGRE \
FROM MASTER1;

print("\nContent of the database")
printSchema(conn)

print("\nContent of dummy")
%sql SELECT * FROM dummy

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

Content of the database
Buying:
  0: NV(NUM) *1
  1: NB(NUM) *2
  2: DATES(TEXT)
  3: LIEU(TEXT)
  4: QTE(NUM)
Clients:
  0: NB(NUM) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
Lieux:
  0: LIEU(TEXT) *1
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producers:
  0: NP(NUM) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Quantities:
  0: NV(NUM) *1
  1: NP(NUM) *2
  2: QTE(NUM)
Wines:
  0: NV(NUM) *1
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
dummy:
  0: DEGRE(NUM)

Content of dummy
 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

In [7]:
# Remove dummy table
%sql DROP TABLE IF EXISTS dummy;

 * sqlite:///wine.db
Done.

[]

__1.3__ Create the new tables from Master1:

In [8]:
# Write corresponding code here
# NV -> CRU, DEGREE, MILL

%sql DROP TABLE IF EXISTS Wines;
%sql CREATE TABLE Wines (NV NUM, CRU TEXT, DEGRE NUM, MILL NUM, PRIMARY KEY (NV));
%sql INSERT INTO Wines SELECT DISTINCT NV, CRU, DEGRE, MILL FROM Master1 WHERE NV NOT NULL;
%sql SELECT * FROM Wines LIMIT 5;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
102 rows affected.
 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976)]

In [9]:
# NP -> NOM, PRENOM, REGION

%sql DROP TABLE IF EXISTS Producers;
%sql CREATE TABLE Producers (NP NUM, NOM TEXT, PRENOM TEXT, REGION TEXT, PRIMARY KEY (NP));
%sql INSERT INTO Producers SELECT DISTINCT NP, NOM, PRENOM, REGION FROM Master1 WHERE NP NOT NULL;
%sql SELECT * FROM Producers LIMIT 5

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
124 rows affected.
 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul', 'Alsace'),
 (6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (16, 'Barbin', 'Bernard', 'Bourgogne'),
 (17, 'Faiveley', 'Guy', 'Bourgogne')]

In [10]:
# NV, NP -> QTE

%sql DROP TABLE IF EXISTS Quantities;
%sql CREATE TABLE Quantities (NV NUM, NP NUM, QTE NUM, PRIMARY KEY (NV, NP));
%sql INSERT INTO Quantities SELECT DISTINCT NV, NP, QTE FROM Master1 WHERE NV NOT NULL AND NP NOT NULL;
%sql SELECT * FROM Quantities LIMIT 5;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
140 rows affected.
 * sqlite:///wine.db
Done.

[(1, 1, 300), (1, 73, 1), (2, 5, 100), (3, 1, 400), (4, 10, 35)]

__1.4__ Create the new tables from Master2:

In [11]:
# Append the content of Wines from Master2 in the existing table Wines:
# NV -> CRU, DEGRE, MILL

%sql INSERT INTO Wines SELECT DISTINCT NV, CRU, DEGRE, MILL FROM Master2 \
WHERE NV NOT NULL AND NOT EXISTS (SELECT * FROM Wines);

%sql SELECT * FROM Wines LIMIT 5;

 * sqlite:///wine.db
0 rows affected.
 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976)]

In [12]:
# NB -> NOM, PRENOM, TYPE

%sql DROP TABLE IF EXISTS Clients;
%sql CREATE TABLE Clients (NB NUM, NOM TEXT, PRENOM TEXT, TYPE TEXT, PRIMARY KEY (NB));
%sql INSERT INTO Clients SELECT DISTINCT NB, NOM, PRENOM, TYPE FROM Master2 WHERE NB NOT NULL;
%sql SELECT * FROM Clients LIMIT 5;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
100 rows affected.
 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen')]

In [13]:
# LIEU -> REGION

%sql DROP TABLE IF EXISTS Lieux;
%sql CREATE TABLE Lieux (LIEU TEXT, REGION TEXT, PRIMARY KEY (LIEU));
%sql INSERT INTO Lieux SELECT DISTINCT LIEU, REGION FROM Master2 WHERE LIEU NOT NULL;
%sql SELECT * FROM Lieux LIMIT 5;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
18 rows affected.
 * sqlite:///wine.db
Done.

[('BORDEAUX', ' NOUVELLE-AQUITAINE'),
 ('PARIS', ' ÎLE-DE-FRANCE'),
 ('RENNES', ' BRETAGNE'),
 ('LYON', '  AUVERGNE-RHÔNE-ALPES'),
 ('NICE', " PROVENCE-ALPES-CÔTE D'AZUR")]

In [14]:
# NV, NB -> DATES, LIEU, QTE

%sql DROP TABLE IF EXISTS Buying;
%sql CREATE TABLE Buying (NV NUM, NB NUM, DATES TEXT, LIEU TEXT, QTE NUM, PRIMARY KEY (NV, NB));
%sql INSERT INTO Buying SELECT DISTINCT NV, NB, DATES, LIEU, QTE FROM Master2 WHERE LIEU NOT NULL;
%sql SELECT * FROM Buying LIMIT 5;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
73 rows affected.
 * sqlite:///wine.db
Done.

[(1, 2, '1977-11-02', 'BORDEAUX', 33),
 (1, 44, '2015-10-16', 'PARIS', 1),
 (1, 45, '1983-12-31', 'RENNES', 1),
 (2, 48, '1983-12-25', 'LYON', 2),
 (3, 7, '1978-11-01', 'NICE', 6)]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

__2.1__ What are the different types of clients (buveurs) by volume of purchases?

In [15]:
%sql SELECT DISTINCT TYPE AS Type_of_buveurs FROM Clients;

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

__2.2__ What regions produce Pommard or Brouilly?

In [16]:
%sql SELECT DISTINCT CRU, REGION FROM Wines, Producers, Quantities WHERE Quantities.NV = Wines.NV \
AND Quantities.NP = Producers.NP AND (CRU="Pommard" OR CRU="Brouilly");

 * sqlite:///wine.db
Done.

[('Pommard', 'Bourgogne'), ('Pommard', 'Rhone'), ('Brouilly', 'Bourgogne')]

__2.3__ What regions produce Pommard and Brouilly?

In [17]:
%sql SELECT DISTINCT REGION FROM Wines, Producers, Quantities WHERE Quantities.NV = Wines.NV \
AND Quantities.NP = Producers.NP AND CRU="Brouilly" \
INTERSECT SELECT DISTINCT REGION FROM Wines, Producers, Quantities WHERE Quantities.NV = Wines.NV \
AND Quantities.NP = Producers.NP AND CRU="Pommard";

 * sqlite:///wine.db
Done.

[('Bourgogne',)]

__2.4__ Get the number of wines bought by CRU and Millésime

In [18]:
%sql SELECT CRU, MILL, QTE AS Number_of_wines_bought FROM Wines, Buying \
WHERE Buying.NV = Wines.NV GROUP BY CRU, MILL;

 * sqlite:///wine.db
Done.

[('Arbois', 1980, 8),
 ('Auxey Duresses', 1914, 80),
 ('Beaujolais Primeur', 1983, 3),
 ('Beaujolais Villages', 1975, 10),
 ('Beaujolais Villages', 1976, 120),
 ('Beaujolais Villages', 1978, 130),
 ('Beaujolais Villages', 1979, 500),
 ('Chapelle Chambertin', 1973, 20),
 ('Chateau Corton Grancey', 1980, 4),
 ('Chenas', 1984, 1),
 ('Clairette de Die', 1976, 2),
 ('Cornas', 1980, 12),
 ('Cote de Brouilly', 1980, 3),
 ('Coteaux du Tricastin', 1974, 1),
 ('Coteaux du Tricastin', 1978, 12),
 ('Cotes de Beaune Villages', 1971, 14),
 ('Cotes de Beaune Villages', 1975, 78),
 ('Cotes de Nuits', 1978, 21),
 ('Cotes de Provence', 1980, 18),
 ('Etoile', 1980, 9),
 ('Fleurie', 1980, 7),
 ('Gentil', 1975, 36),
 ('Gigondas', 1978, 5),
 ('Grands Echezeaux', 1968, 24),
 ('Julienas', 1974, 2),
 ('Mercurey', 1980, 33),
 ('Mercurey', 1981, 36),
 ('Meursault', 1980, 2),
 ('Monthelie', 1968, 6),
 ('Pommard', 1972, 23),
 ('Pommard', 1976, 50),
 ('Pouilly Vinzelles', 1968, 3),
 ('Rasteau', 1980, 15),
 ('Richebourg', 1943, 30),
 ('Saint Amour', 1974, 80),
 ('Saint Amour', 1980, 14),
 ('Savigny les Beaunes', 1974, 22),
 ('Savigny les Beaunes', 1977, 5),
 ('Savigny les Beaunes', 1978, 6),
 ('Seyssel', 1974, 3),
 ('Seyssel', 1980, 10),
 ('Tavel', 1980, 16),
 ('Volnay', 1980, 5)]

__2.5__ Retrieve the wine number (NV) of wines produced by more than three producers

In [19]:
%sql SELECT NV, COUNT(*) AS Number_of_producers FROM Quantities \
GROUP BY NV HAVING Number_of_producers > 3;

 * sqlite:///wine.db
Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

__2.6__ Which producers have not produced any wine?

In [20]:
%sql SELECT NP, NOM, PRENOM FROM Producers \
WHERE NP NOT IN(SELECT NP FROM Quantities WHERE QTE NOT NULL);

 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul'),
 (6, 'Marmagne', 'Bernard'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (26, 'Violot', 'Gilbert'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (37, 'Delagrange Bachelet', None),
 (39, 'de Suremin', 'Hugues'),
 (41, 'Juillot', 'Michel'),
 (44, 'Feyveley', None),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (51, 'Simonet', 'Leon'),
 (53, 'Cooperative', None),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (66, 'Cooperative', None),
 (77, 'Tissot', 'Andre'),
 (83, 'Goy', None),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (94, 'Grippat', 'Jean Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred')]

__2.7__ What clients (buveurs) have bought at least one wine from 1980?

In [21]:
%sql SELECT DISTINCT Clients.NB, NOM, PRENOM FROM Buying, Clients, Wines \
WHERE Buying.NV=Wines.NV AND Buying.NB=Clients.NB AND MILL=1980;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (8, 'Aragon', 'Louis'),
 (50, 'Lautreamont', None),
 (61, 'Mallarme', 'Stephane')]

__2.8__ What clients (buveurs) have NOT bought any wine from 1980?

In [22]:
%sql SELECT NB, NOM, PRENOM FROM Clients \
WHERE NB NOT IN(SELECT DISTINCT NB FROM Buying, Wines \
WHERE Buying.NV=Wines.NV AND MILL=1980) ORDER BY NB;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (11, 'Breton', 'Andre'),
 (12, 'Bataille', 'Georges'),
 (13, 'Barthes', 'Roland'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (16, 'Balzac', 'Honore de'),
 (17, 'Camus', 'Albert'),
 (18, 'Celine', 'Louis Ferdinand'),
 (19, 'Ciceron', None),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (22, 'Cocteau', 'Jean'),
 (23, 'Corneille', 'Pierre'),
 (24, 'Courrier', 'Paul Louis'),
 (25, 'Char', 'Rene'),
 (26, 'Diderot', 'Denis'),
 (27, 'Dumas', 'Alexandre'),
 (28, 'Dostoievsky', 'Fiodor'),
 (29, 'Fournier', 'Alain'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (32, 'Eluard', 'Paul'),
 (33, 'Flaubert', 'Gustave'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (38, 'Montaigne', 'Michel de'),
 (39, 'Montesquieu', None),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (51, 'Lafargue', 'Paul'),
 (52, 'Carroll', 'Lewis'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (59, 'Nietzsche', 'Friedrich'),
 (60, 'Ovide', None),
 (62, 'Proust', 'Marcel'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (75, 'Ronsard', 'Pierre'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de'),
 (80, 'Sand', 'Georges'),
 (81, 'Sartre', 'Jean-Paul'),
 (82, 'Roussel', 'Rene'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (92, 'Verne', 'Jules'),
 (93, 'Virgile', None),
 (94, 'Zola', 'Emile'),
 (95, 'Zorn', 'Fritz'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules'),
 (100, 'Woolf', 'Virginia')]

__2.9__ What clients (buveurs) have bought ONLY wines from 1980?

In [23]:
# Select clients that have bought at least one wine from 1980, and remove the clients that have
# also bought wines from other years:
%sql SELECT DISTINCT Clients.NB, NOM, PRENOM FROM Buying, Clients, Wines \
WHERE Buying.NV=Wines.NV AND Buying.NB=Clients.NB AND MILL=1980 \
AND Clients.NB NOT IN(SELECT DISTINCT NB FROM Buying, Wines \
WHERE Buying.NV=Wines.NV AND MILL!=1980);

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre'), (45, 'Giono', 'Jean'), (50, 'Lautreamont', None)]

__2.10__ List all wines from 1980

In [24]:
%sql SELECT NV, CRU, MILL, DEGRE FROM Wines WHERE MILL=1980;

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 1980, 11.5),
 (4, 'Mercurey', 1980, 10.9),
 (16, 'Meursault', 1980, 12.1),
 (20, 'Cote de Brouilly', 1980, 12.1),
 (26, 'Chateau Corton Grancey', 1980, None),
 (28, 'Volnay', 1980, 11),
 (43, 'Fleurie', 1980, 11.4),
 (74, 'Arbois', 1980, 12),
 (78, 'Etoile', 1980, 12),
 (79, 'Seyssel', 1980, 11),
 (80, 'Seyssel', 1980, 11),
 (81, 'Cornas', 1980, 11.1),
 (82, 'Cornas', 1980, 11),
 (83, 'Saint Amour', 1980, 10),
 (84, 'Rasteau', 1980, 10),
 (85, 'Tavel', 1980, 11),
 (86, 'Tavel', 1980, 11),
 (87, 'Cotes de Provence', 1980, None)]

__2.11__ What are the wines from 1980 bought by NB=2?

In [25]:
%sql SELECT Wines.NV, NB, DATES, LIEU, QTE, CRU, MILL, DEGRE FROM Buying, Wines \
WHERE Buying.NV=Wines.NV AND MILL=1980 AND NB=2;

 * sqlite:///wine.db
Done.

[(1, 2, '1977-11-02', 'BORDEAUX', 33, 'Mercurey', 1980, 11.5)]

__2.12__ What clients (buveurs) have bought ALL the wines from 1980?

In [30]:
%sql SELECT Clients.NB, NOM, PRENOM FROM Buying, Clients \
WHERE Buying.NB=Clients.NB GROUP BY Clients.NB \
HAVING COUNT(NV)=(SELECT COUNT(NV) FROM Wines WHERE MILL=1980);

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre')]